# Tuples!

In [1]:
lax_coordinates = (33.9425, -118.408056)

In [3]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'C342567'), ('ESP', 'XDA205856')]

In [5]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/C342567
ESP/XDA205856
USA/31195855

In [9]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [17]:
# tuple unpacking
print(type(lax_coordinates))
a, b = lax_coordinates
print (a, b)

<class 'tuple'>
33.9425 -118.408056

In [18]:
# swapping of values really cool!
a, b = b, a
print(a, b)

-118.408056 33.9425

In [22]:
divmod(20,8)

(2, 4)

In [23]:
t = (20, 8)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [24]:
divmod(*t)

(2, 4)

In [27]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

## Using *args for multiple arguments

In [34]:
a, b, *rest = range(3)
print(rest)

[2]

In [38]:
a, *body, c, d = range(5)
body

[1, 2]

## We can also name the fields :-)

In [42]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.9, (35.3, 139.7))
tokyo

City(name='Tokyo', country='JP', population=36.9, coordinates=(35.3, 139.7))

In [43]:
tokyo.country

'JP'

In [45]:
tokyo[3]

(35.3, 139.7)

In [46]:
City._fields

('name', 'country', 'population', 'coordinates')

In [47]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Dehli NCR', 'IN', 21.9, LatLong(28.6, 77.2))

In [50]:
deli = City._make(delhi_data)
deli

City(name='Dehli NCR', country='IN', population=21.9, coordinates=LatLong(lat=28.6, long=77.2))

In [62]:
a = deli._asdict()
a

OrderedDict([('name', 'Dehli NCR'),
             ('country', 'IN'),
             ('population', 21.9),
             ('coordinates', LatLong(lat=28.6, long=77.2))])

In [61]:
a['country']

'IN'