# A variable is a label to an object, not a box containing the object

In [3]:
charles = {'name': 'Charles L. Dodgson', 'born': 183}
lewis = charles
lewis

{'name': 'Charles L. Dodgson', 'born': 183}

In [4]:
lewis is charles

True

In [5]:
id(charles), id(lewis)

(2167238757400, 2167238757400)

In [6]:
lewis['cash balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 183, 'cash balance': 950}

In [7]:
alex = {'name': 'Charles L. Dodgson', 'born': 183, 'cash balance': 950}

In [8]:
alex is charles

False

In [9]:
alex == charles

True

# is vs. ==

In [13]:
# is compares identities --> e.g. to None, and is super fast!
alex is charles

False

In [11]:
id(alex), id(charles)

(2167238815816, 2167238757400)

In [12]:
# == compares values
alex, charles

({'name': 'Charles L. Dodgson', 'born': 183, 'cash balance': 950},
 {'name': 'Charles L. Dodgson', 'born': 183, 'cash balance': 950})